<template>
  <div>
    <v-parallax :height="windowHeight" src="https://cdn.vuetifyjs.com/images/parallax/material.jpg">
      <div class="text-center">
        <h1 class="font-weight-light">BankTech</h1>
        <h1 class="font-weight-light">Proyecto de DAW</h1>
        <h1 class="font-weight-light">Realizado por Noel Seara</h1>
      </div>
    </v-parallax>
    <Footer />
  </div>
</template>

<script>
import Footer from "@/components/Footer.vue";

export default {
  name: "about",
  components: {
    Footer
  },
  data: () => ({
    windowHeight: 0
  }),
  mounted() {
    this.windowHeight = window.innerHeight;
  }
};
</script>
