<template>
  <v-content v-if="user != null">
    <v-container :key="generalKey">
      <v-card class="overflow-hidden">
        <v-toolbar flat color="primary" dark>
          <v-icon class="mr-2">mdi-account-key</v-icon>
          <v-toolbar-title class="font-weight-light">Mi acceso</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-row v-if="cookie != null && !cookie.isAdmin">
            <v-col cols="12">
              <h2 class="font-weight-light">DNI</h2>
            </v-col>
          </v-row>
          <v-row v-if="cookie != null && !cookie.isAdmin">
            <v-col cols="12" md="11">
              <v-text-field v-model="user.dni" label="DNI" readonly></v-text-field>
            </v-col>
            <v-col cols="12" md="1">
              <v-btn fab color="primary" text @click="showDniDialog">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </v-col>
          </v-row>

          <v-row v-if="cookie != null && !cookie.isAdmin">
            <v-col cols="12" md="12">
              <h2 class="font-weight-light">Email</h2>
            </v-col>
          </v-row>
          <v-row v-if="cookie != null && !cookie.isAdmin">
            <v-col cols="12" md="11">
              <v-text-field v-model="user.email" label="Email" readonly></v-text-field>
            </v-col>
            <v-col cols="12" md="1">
              <v-btn fab color="primary" text @click="showEmailDialog">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" md="12">
              <h2 class="font-weight-light">Contraseña</h2>
            </v-col>
          </v-row>
          <v-row v-if="cookie != null">
            <v-col cols="12" md="11">
              <v-form ref="passwordForm" v-on:submit.prevent @keydown.native.enter="putUserPassword">
                <v-text-field
                  v-model="oldPassword"
                  counter="16"
                  label="Contraseña actual"
                  :type="showPassword1 ? 'text' : 'password'"
                  :append-icon="showPassword1 ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword1 = !showPassword1"
                ></v-text-field>
                <v-text-field
                  v-model="newPassword1"
                  counter="16"
                  label="Nueva contraseña"
                  :rules="rules.password"
                  :type="showPassword2 ? 'text' : 'password'"
                  :append-icon="showPassword2 ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword2 = !showPassword2"
                ></v-text-field>
                <v-text-field
                  v-model="newPassword2"
                  counter="16"
                  label="Repetir contraseña"
                  :rules="rules.password"
                  :type="showPassword3 ? 'text' : 'password'"
                  :append-icon="showPassword3 ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword3 = !showPassword3"
                ></v-text-field>
              </v-form>
            </v-col>
            <v-col cols="12" md="1">
              <v-btn fab color="primary" text @click="putUserPassword">
                <v-icon>mdi-key-variant</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>

      <v-dialog v-model="showDni" max-width="600px">
        <v-form ref="editForm" v-on:submit.prevent @keydown.native.enter="putUserDni">
          <v-card>
            <v-card-title>
              <v-toolbar flat dark color="primary">
                <v-btn icon @click="showDni = false">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Cambiar DNI</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on" @click="putUserDni">
                      <v-icon>mdi-content-save</v-icon>
                    </v-btn>
                  </template>
                  <span>Guardar cambios</span>
                </v-tooltip>
              </v-toolbar>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-form ref="dniForm" v-on:submit.prevent>
                      <v-text-field v-model="dniAux" label="DNI" :rules="rules.dni"></v-text-field>
                    </v-form>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
          </v-card>
        </v-form>
      </v-dialog>

      <v-dialog v-model="showEmail" max-width="600px">
        <v-form ref="editForm" v-on:submit.prevent @keydown.native.enter="putUserEmail">
          <v-card>
            <v-card-title>
              <v-toolbar flat dark color="primary">
                <v-btn icon @click="showEmail = false">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Cambiar email</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on" @click="putUserEmail">
                      <v-icon>mdi-content-save</v-icon>
                    </v-btn>
                  </template>
                  <span>Guardar cambios</span>
                </v-tooltip>
              </v-toolbar>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-form ref="emailForm" v-on:submit.prevent>
                      <v-text-field v-model="emailAux" label="Email" :rules="rules.email"></v-text-field>
                    </v-form>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
          </v-card>
        </v-form>
      </v-dialog>

      <v-dialog v-model="showDelete" max-width="600px">
        <v-card>
          <v-card-title class="headline">¿Desea eliminar la cuenta de usuario?</v-card-title>
          <v-card-text>Podrás volver a crearte una nueva cuenta en el futuro</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="showDelete = false">Cancelar</v-btn>
            <v-btn text color="error" @click="deleteUser">Eliminar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-btn color="error " fab dark bottom right fixed @click="showDelete = true">
        <v-icon>mdi-delete</v-icon>
      </v-btn>
    </v-container>
  </v-content>
</template>

<script>
import { mapState } from "vuex";
import { AxiosUserAccessData } from "../utils/axiosUtils";
import { UserAccessDataRules } from "../utils/rulesUtils";

export default {
  name: "accessData",
  data: () => ({
    dniAux: null,
    emailAux: null,
    oldPassword: null,
    newPassword1: null,
    newPassword2: null,
    rules: null,
    showDni: false,
    showEmail: false,
    showPassword1: false,
    showPassword2: false,
    showPassword3: false,
    showDelete: false
  }),
  computed: {
    ...mapState(["user", "cookie", "generalKey"])
  },
  methods: {
    showDniDialog() {
      this.dniAux = this.user.dni;
      this.showDni = true;
    },
    showEmailDialog() {
      this.emailAux = this.user.email;
      this.showEmail = true;
    },
    putUserDni() {
      if (this.$refs.dniForm.validate()) {
        AxiosUserAccessData.putDni(this);
      }
    },
    putUserEmail() {
      if (this.$refs.emailForm.validate()) {
        AxiosUserAccessData.putEmail(this);
      }
    },
    putUserPassword() {
      if (this.$refs.passwordForm.validate()) {
        if (this.user.password == this.oldPassword) {
          if (this.newPassword1 == this.newPassword2) {
            AxiosUserAccessData.putPassword(this);
          } else {
            this.$store.commit(
              "enableError",
              "Las contraseñas nuevas no coincides"
            );
          }
        } else {
          this.$store.commit(
            "enableError",
            "La contraseña actual es incorrecta"
          );
        }
      }
    },
    deleteUser() {
      AxiosUserAccessData.deleteUser(this);
    }
  },
  created() {
    this.rules = UserAccessDataRules;
  }
};
</script>
