<template>
  <v-content v-if="user != null" :key="localKey">
    <v-container>
      <v-card
        class="overflow-hidden mx-auto mb-5"
        max-width="600px"
        v-for="item in accounts"
        :key="item.accountId"
      >
        <v-toolbar flat color="primary" dark>
          <v-icon class="mr-2">mdi-bank</v-icon>
          <v-toolbar-title class="font-weight-light">{{item.alias}}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-menu bottom left>
            <template v-slot:activator="{ on }">
              <v-btn dark icon v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="changeAlias(item)">
                <v-list-item-title>Cambiar alias</v-list-item-title>
              </v-list-item>
              <v-list-item @click="changeOwner(item)">
                <v-list-item-title>Cambiar titular</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-toolbar>
        <v-card-text class="text--primary">
          <p>
            <b>IBAN:</b>
            {{formatIban(item.iban)}}
          </p>
          <p>
            <b>Titular:</b>
            {{item.owner}}
          </p>
          <p>
            <b>Fecha creación:</b>
            {{formatDate(item.date)}}
          </p>
          <p>
            <b>Saldo:</b>
            {{formatAmount(item.totalAmount)}}€
          </p>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn color="primary" v-on="on" @click="showMovements(item)" icon>
                <v-icon>mdi-swap-horizontal</v-icon>
              </v-btn>
            </template>
            <span>Ver movimientos</span>
          </v-tooltip>

          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn color="error" v-on="on" @click="remove(item.accountId)" icon>
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </template>
            <span>Eliminar cuenta</span>
          </v-tooltip>
        </v-card-actions>
      </v-card>

      <v-dialog v-model="showAdd" max-width="600px">
        <v-form ref="addForm" v-on:submit.prevent @keydown.native.enter="postAccount">
          <v-card>
            <v-card-title>
              <v-toolbar flat dark color="primary">
                <v-btn icon dark @click="showAdd = false">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Crear cuenta</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on" @click="postAccount">
                      <v-icon>mdi-content-save</v-icon>
                    </v-btn>
                  </template>
                  <span>Guardar cambios</span>
                </v-tooltip>
              </v-toolbar>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col>
                    <v-text-field v-model="accountAux.iban" label="IBAN" :rules="rules1.iban"></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field v-model="accountAux.alias" label="Alias" :rules="rules1.alias"></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
          </v-card>
        </v-form>
      </v-dialog>

      <v-dialog v-model="showAliasChange" max-width="600px">
        <v-form ref="editAliasForm" v-on:submit.prevent @keydown.native.enter="putAccountAlias">
          <v-card>
            <v-card-title>
              <v-toolbar flat dark color="primary">
                <v-btn icon dark @click="showAliasChange = false">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Editar alias</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on" @click="putAccountAlias">
                      <v-icon>mdi-content-save</v-icon>
                    </v-btn>
                  </template>
                  <span>Guardar cambios</span>
                </v-tooltip>
              </v-toolbar>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      v-model="accountAux.alias"
                      label="Nuevo alias"
                      type="text"
                      :rules="rules1.alias"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
          </v-card>
        </v-form>
      </v-dialog>

      <v-dialog v-model="showOwnerChange" max-width="600px">
        <v-form ref="editOwnerForm" v-on:submit.prevent @keydown.native.enter="putAccountOwner">
          <v-card>
            <v-card-title>
              <v-toolbar flat dark color="primary">
                <v-btn icon dark @click="showOwnerChange = false">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Cambiar titular</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on" @click="putAccountOwner">
                      <v-icon>mdi-content-save</v-icon>
                    </v-btn>
                  </template>
                  <span>Guardar cambios</span>
                </v-tooltip>
              </v-toolbar>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      v-model="accountAux.owner"
                      label="Nuevo titular"
                      type="text"
                      :rules="rules2.dni"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
          </v-card>
        </v-form>
      </v-dialog>

      <v-dialog v-model="showDelete" max-width="600px">
        <v-card>
          <v-card-title class="headline">¿Desea eliminar la cuenta bancaria?</v-card-title>
          <v-card-text></v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="showDelete = false">Cancelar</v-btn>
            <v-btn color="error" text @click="deleteAccount">Eliminar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-speed-dial
        v-model="fab"
        bottom
        right
        fixed
        open-on-hover
        direction="top"
        transition="slide-y-reverse-transition"
      >
        <template v-slot:activator>
          <v-btn v-model="fab" color="primary" dark fab>
            <v-icon v-if="fab">mdi-close</v-icon>
            <v-icon v-else>mdi-settings</v-icon>
          </v-btn>
        </template>
        <v-btn fab dark small color="orange" @click="refresh">
          <v-icon>mdi-refresh</v-icon>
        </v-btn>
        <v-btn fab dark small color="green" @click="add">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-speed-dial>
    </v-container>
  </v-content>
</template>

<script>
import { mapState } from "vuex";
import router from "vue-router";
import { AxiosAccounts } from "../utils/axiosUtils";
import { AccountRules, UserAccessDataRules } from "../utils/rulesUtils";

export default {
  name: "accounts",
  data: () => ({
    accounts: [],
    accountAux: {},
    accountIdTmp: null,
    localKey: 0,
    fab: false,
    showAdd: false,
    showAliasChange: false,
    showOwnerChange: false,
    showDelete: false,
    rules1: null,
    rules2: null
  }),
  computed: {
    ...mapState(["user", "cookie"])
  },
  methods: {
    formatDate(date) {
      var dateAux = "";
      if (date != null) {
        var [year, month, day] = date.split("-");
        dateAux = dateAux.concat(day.split("T")[0], "/", month, "/", year);
      }
      return dateAux;
    },
    formatAmount(amount) {
      var amountAux = "";
      if (amountAux != null) {
        amountAux = (Math.round(amount * 100) / 100).toFixed(2);
      }
      return amountAux;
    },
    formatIban(iban) {
      var toret = "";
      toret = toret.concat(iban.substring(0, 4)).concat(" ");
      toret = toret.concat(iban.substring(4, 8)).concat(" ");
      toret = toret.concat(iban.substring(8, 12)).concat(" ");
      toret = toret.concat(iban.substring(12, 16)).concat(" ");
      toret = toret.concat(iban.substring(16, 20)).concat(" ");
      toret = toret.concat(iban.substring(20, 24)).concat(" ");
      return toret;
    },
    changeAlias(account) {
      this.accountAux = JSON.parse(JSON.stringify(account));
      this.showAliasChange = true;
    },
    changeOwner(account) {
      this.accountAux = JSON.parse(JSON.stringify(account));
      this.showOwnerChange = true;
    },
    remove(accountId) {
      this.accountIdTmp = accountId;
      this.showDelete = true;
    },
    add() {
      this.accountAux = {};
      this.showAdd = true;
    },
    showMovements(account) {
      this.$router.push({
        path: `/accounts/${account.accountId}/movements`
      });
    },
    getAccounts() {
      AxiosAccounts.getAll(this);
    },
    postAccount() {
      if (this.$refs.addForm.validate()) {
        AxiosAccounts.post(this);
      }
    },
    putAccountAlias() {
      if (this.$refs.editAliasForm.validate()) {
        AxiosAccounts.putAlias(this);
      }
    },
    putAccountOwner() {
      if (this.$refs.editOwnerForm.validate()) {
        AxiosAccounts.putOwner(this);
      }
    },
    deleteAccount() {
      AxiosAccounts.delete(this);
    },
    refresh() {
      this.getAccounts();
      this.localKey++;
    }
  },
  created() {
    if (this.cookie != null) {
      this.getAccounts();
      this.rules1 = AccountRules;
      this.rules2 = UserAccessDataRules;
    }
  }
};
</script>
