<template>
  <v-content v-if="user != null && cookie != null && cookie.isAdmin" :key="localKey">
    <v-container mt-5>
      <template>
        <v-data-table
          class="elevation-1"
          sort-by="name"
          :headers="headers"
          :items="envConfigs"
          :search="search"
        >
          <template v-slot:top>
            <v-toolbar flat color="white">
              <v-toolbar-title>Configuraciones de entorno</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-spacer></v-spacer>
              <v-text-field
                v-model="search"
                label="Buscar"
                single-line
                hide-details
                :append-icon="search ? 'mdi-filter-remove':'mdi-magnify'"
                @click:append="search = ''"
                @keydown.native.escape="search=''"
              ></v-text-field>
            </v-toolbar>
          </template>
          <template v-slot:item.action="{ item }">
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn text icon v-on="on" @click="showEditDialog(item)">
                  <v-icon small>mdi-pencil</v-icon>
                </v-btn>
              </template>
              <span>Editar variable de configuración</span>
            </v-tooltip>

            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn color="error" text icon v-on="on" @click="showDeleteDialog(item)">
                  <v-icon small>mdi-delete</v-icon>
                </v-btn>
              </template>
              <span>Eliminar variable de configuración</span>
            </v-tooltip>
          </template>
        </v-data-table>
      </template>
    </v-container>

    <v-dialog v-model="showAdd" max-width="600px">
      <v-form ref="addForm" v-on:submit.prevent @keydown.native.enter="postEnvConfig">
        <v-card>
          <v-card-title>
            <v-toolbar flat dark color="primary">
              <v-btn icon @click="showAdd = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-toolbar-title>Añadir variable</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon v-on="on" @click="postEnvConfig">
                    <v-icon>mdi-content-save</v-icon>
                  </v-btn>
                </template>
                <span>Guardar cambios</span>
              </v-tooltip>
            </v-toolbar>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="envConfigAux.configName"
                    label="Nombre de la configuración"
                    type="text"
                    :rules="rules.configName"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="envConfigAux.configValue"
                    label="Valor de la configuración"
                    type="text"
                    :rules="rules.configValue"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
      </v-form>
    </v-dialog>

    <v-dialog v-model="showEdit" max-width="600px">
      <v-form ref="editForm" v-on:submit.prevent @keydown.native.enter="putEnvConfig">
        <v-card>
          <v-card-title>
            <v-toolbar flat dark color="primary">
              <v-btn icon @click="showEdit = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-toolbar-title>Editar variable</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon v-on="on" @click="putEnvConfig">
                    <v-icon>mdi-content-save</v-icon>
                  </v-btn>
                </template>
                <span>Guardar cambios</span>
              </v-tooltip>
            </v-toolbar>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="envConfigAux.configValue"
                    label="Valor de la configuración"
                    type="text"
                    :rules="rules.configValue"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
      </v-form>
    </v-dialog>

    <v-dialog v-model="showDelete" max-width="600px">
      <v-card>
        <v-card-title class="headline">¿Desea eliminar la variable de configuración?</v-card-title>
        <v-card-text></v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="showDelete = false">Cancelar</v-btn>
          <v-btn text color="error" @click="deleteEnvConfig">Eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-speed-dial
      bottom
      right
      fixed
      open-on-hover
      v-model="fab"
      direction="top"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="primary" dark fab>
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-settings</v-icon>
        </v-btn>
      </template>

      <v-btn fab dark small color="orange" @click="postReloadEnvConfig">
        <v-icon>mdi-reload</v-icon>
      </v-btn>

      <v-btn fab dark small color="green" @click="showAddDialog">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-speed-dial>
  </v-content>
</template>

<script>
import { mapState } from "vuex";
import { AxiosEnvConfigs } from "../utils/axiosUtils";
import { EnvConfigRules } from "../utils/rulesUtils";

export default {
  name: "envConfigs",
  data: () => ({
    envConfigs: [],
    envConfigAux: {},
    localKey: 0,
    rules: null,
    headers: [
      { text: "Nombre", value: "configName" },
      { text: "Valor", value: "configValue" },
      { text: "Acción", value: "action" }
    ],
    fab: false,
    readOnly: true,
    showAdd: false,
    showEdit: false,
    showSave: false,
    showDelete: false,
    search: ""
  }),
  computed: {
    ...mapState(["user", "cookie"])
  },
  methods: {
    showAddDialog() {
      this.envConfigAux = {};
      this.showAdd = true;
    },
    showEditDialog(item) {
      this.envConfigAux = JSON.parse(JSON.stringify(item));
      this.showEdit = true;
    },
    showDeleteDialog(item) {
      this.envConfigAux = JSON.parse(JSON.stringify(item));
      this.showDelete = true;
    },
    getEnvConfig() {
      AxiosEnvConfigs.get(this);
    },
    postEnvConfig() {
      if (this.$refs.addForm.validate()) {
        AxiosEnvConfigs.post(this);
      }
    },
    putEnvConfig() {
      if (this.$refs.editForm.validate()) {
        AxiosEnvConfigs.put(this);
      }
    },
    deleteEnvConfig() {
      AxiosEnvConfigs.delete(this);
    },
    postReloadEnvConfig() {
      AxiosEnvConfigs.reload(this);
    }
  },
  created() {
    if (this.cookie != null) {
      if (this.cookie.isAdmin) {
        this.getEnvConfig();
        this.rules = EnvConfigRules;
      } else {
        this.$store.commit(
          "enableError",
          "Solo el usuario administrador puede acceder y modificar las configuraciones de entorno"
        );
        this.$router.push({ name: "home" });
      }
    }
  }
};
</script>
