<template>
  <v-content>
    <v-container>
      <h1 class="font-weight-light">BankTech, somos el futuro</h1>

      <v-carousel cycle hide-delimiter-background show-arrows-on-hover class="mb-3">
        <v-carousel-item
          v-for="(item,i) in items"
          :key="i"
          :src="item.src"
          reverse-transition="fade-transition"
          transition="fade-transition"
        ></v-carousel-item>
      </v-carousel>

      <v-lazy
        :options="{
          threshold: 1
        }"
        min-height="300"
        transition="fade-transition"
      >
        <v-timeline>
          <v-timeline-item fill-dot small>
            <span slot="opposite">Protegiendo tu futuro</span>
            <v-card class="elevation-2">
              <v-card-title class="headline">Seguridad y confianza</v-card-title>
              <v-card-text>No temas al futuro, con BankTech tus ahorros estarán protegidos. Disfruta de la vida y preocúpate solamente en qué vas gastar tu dinero.</v-card-text>
            </v-card>
          </v-timeline-item>
          <v-timeline-item fill-dot small>
            <span slot="opposite">Creando nuevas empresas</span>
            <v-card class="elevation-2">
              <v-card-title class="headline">Financiación</v-card-title>
              <v-card-text>Si eres emprendedor, adelante. Con BankTech tendrás a tu disposición un sinfín de opciones para financiar tu negocio y crecer como nunca.</v-card-text>
            </v-card>
          </v-timeline-item>
          <v-timeline-item fill-dot small>
            <span slot="opposite">Reinventando la banca</span>
            <v-card class="elevation-2">
              <v-card-title class="headline">Menos es más</v-card-title>
              <v-card-text>Con la banca electrónica todo es más simple. La sencillez que ofrece BankTech será lo que buscas en un banco, no volverás a tener perderte!</v-card-text>
            </v-card>
          </v-timeline-item>
        </v-timeline>
      </v-lazy>
    </v-container>
    <Footer />
  </v-content>
</template>

<script>
import Footer from "@/components/Footer.vue";

export default {
  name: "home",
  components: {
    Footer
  },
  data: () => ({
    items: [
      {
        src:
          "https://www.bbva.com/wp-content/uploads/2018/06/fintech-tecnologia-innovacion-digital-blockchain-bbva_opt-1920x808.jpg"
      },
      {
        src:
          "https://www.master-finanzas-cuantitativas.com/wp-content/uploads/2018/06/requisitos-master-banca-finanzas-cuantitativas-1.jpeg"
      },
      {
        src:
          "https://www.ecestaticos.com/imagestatic/clipping/613/1a8/6131a87f611004ea94f708b0adc79852/la-regla-del-50-20-30-para-gastar-solo-en-lo-que-necesitas-y-ahorrar-todos-los-meses.jpg?mtime=1469531173"
      },
      {
        src:
          "http://prensacelam.org/wp-content/uploads/2019/08/Familia-Latina.jpg"
      }
    ]
  })
};
</script>
