<template>
  <v-content v-if="user != null && cookie != null && cookie.isAdmin">
    <v-container>
      <v-card class="overflow-hidden">
        <v-toolbar flat color="primary" dark>
          <v-icon class="mr-2">mdi-file-document-box</v-icon>
          <v-toolbar-title class="font-weight-light">Logs</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-textarea autoGrow v-model="logs"></v-textarea>
        </v-card-text>
      </v-card>

      <v-speed-dial
        bottom
        right
        fixed
        open-on-hover
        v-model="fab"
        direction="top"
        transition="slide-y-reverse-transition"
      >
        <template v-slot:activator>
          <v-btn v-model="fab" color="primary" dark fab>
            <v-icon v-if="fab">mdi-close</v-icon>
            <v-icon v-else>mdi-settings</v-icon>
          </v-btn>
        </template>

        <v-btn fab dark small color="orange" @click="getLogs">
          <v-icon>mdi-reload</v-icon>
        </v-btn>

        <v-btn fab dark small color="green" @click="downloadLogs">
          <v-icon>mdi-download</v-icon>
        </v-btn>
      </v-speed-dial>
    </v-container>
  </v-content>
</template>

<script>
import { mapState } from "vuex";
import { router } from "vue-router";
import { AxiosLogs } from "../utils/axiosUtils";

export default {
  name: "logs",
  data: () => ({
    logs: "",
    fab: false
  }),
  computed: {
    ...mapState(["user", "cookie"])
  },
  methods: {
    downloadLogs() {
      try {
        var fileURL = window.URL.createObjectURL(new Blob([this.logs]));
        var fileLink = document.createElement("a");
        fileLink.href = fileURL;
        fileLink.setAttribute("download", "logs.txt");
        document.body.appendChild(fileLink);
        fileLink.click();
      } catch (error) {
        console.log(error);
      }
    },
    getLogs() {
      AxiosLogs.get(this);
    }
  },
  created() {
    if (this.cookie != null) {
      if (this.cookie.isAdmin) {
        this.getLogs();
      } else {
        this.$store.commit(
          "enableError",
          "Solo el usuario administrador puede acceder a los logs"
        );
        this.$router.push({ name: "home" });
      }
    }
  }
};
</script>