<template>
  <v-content v-if="user != null && account.iban != null" :key="localKey">
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-btn :to="{name: 'accounts'}" class="ml-3" icon large v-on="on" color="primary">
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </template>
      <span>Retroceder</span>
    </v-tooltip>

    <v-container>
      <v-card class="mx-auto" max-width="600px">
        <v-card-title>IBAN: {{formatIban(account.iban)}}</v-card-title>
        <v-card-text>Saldo: {{getTotalAmount}}€</v-card-text>
        <v-card-actions>
          <v-switch v-model="advanceSearch" label="Búsqueda avanzada"></v-switch>
          <v-spacer></v-spacer>
          <v-btn text @click="showGraph = !showGraph">
            Ver gráfica
            <v-icon>{{ showGraph ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
          </v-btn>
        </v-card-actions>
        <v-expand-transition>
          <div v-show="showGraph">
            <v-card-text>Historial de gastos</v-card-text>
            <v-divider></v-divider>
            <v-card-text>
              <v-sheet class="v-sheet--offset mx-auto" color="primary">
                <v-sparkline
                  :labels="getDates"
                  :value="getAmounts"
                  height="100"
                  padding="24"
                  line-width="2"
                  color="white"
                >
                  <template v-slot:label="item">{{ item.value }}</template>
                </v-sparkline>
              </v-sheet>
            </v-card-text>
          </div>
        </v-expand-transition>
      </v-card>
    </v-container>

    <v-container v-if="!advanceSearch">
      <v-card
        class="overflow-hidden mx-auto mb-5"
        max-width="600px"
        v-for="(item) in visiblePages"
        :key="item.movementId"
        :disabled="item.isCanceled"
      >
        <v-toolbar flat color="primary" dark>
          <v-icon class="mr-2">mdi-currency-usd</v-icon>
          <v-toolbar-title class="font-weight-light">{{movementType(item.type)}}</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text class="text--primary">
          <p v-if="item.senderIban != account.iban">
            <b>Origen:</b>
            {{item.senderIban}}
          </p>
          <p v-if="item.recipientIban != account.iban">
            <b>Receptor:</b>
            {{item.recipientIban}}
          </p>
          <p>
            <b>Concepto:</b>
            {{item.concept}}
          </p>
          <p>
            <b>Fecha:</b>
            {{formatDate(item.date)}}
          </p>
          <p>
            <b>Cantidad:</b>
            {{item.amount}}€
          </p>
          <p v-if="item.isCanceled">
            <b>Estado:</b> Cancelada
          </p>
          <p v-else>
            <b>Estado:</b> Vigente
          </p>
        </v-card-text>
        <v-card-actions
          v-if="item.type == 2 && !item.isCanceled && item.senderIban == account.iban && isCancelable(item.date)"
        >
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="cancel(item)" text>Cancelar</v-btn>
        </v-card-actions>
      </v-card>
      <v-pagination v-model="page" :length="Math.ceil(movements.length/perPage)"></v-pagination>
    </v-container>

    <v-container v-if="advanceSearch">
      <template>
        <v-data-table
          class="elevation-1"
          :headers="headers"
          :items="movements"
          :search="search"
          :key="localKey"
        >
          <template v-slot:top>
            <v-toolbar flat color="white">
              <v-toolbar-title>Historial movimientos</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-spacer></v-spacer>
              <v-text-field
                v-model="search"
                label="Buscar"
                single-line
                hide-details
                :append-icon="search ? 'mdi-filter-remove':'mdi-magnify'"
                @click:append="search = ''"
                @keydown.native.escape="search=''"
              ></v-text-field>
            </v-toolbar>
          </template>
        </v-data-table>
      </template>
    </v-container>

    <v-dialog v-model="showAdd" max-width="600px">
      <v-form ref="addForm" v-on:submit.prevent @keydown.native.enter="postMovement">
        <v-card>
          <v-card-title>
            <v-toolbar flat dark color="primary">
              <v-btn icon @click="showAdd = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-toolbar-title>Realizar movimiento</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon v-on="on" @click="postMovement">
                    <v-icon>mdi-content-save</v-icon>
                  </v-btn>
                </template>
                <span>Guardar cambios</span>
              </v-tooltip>
            </v-toolbar>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" md="6">
                  <v-select :items="selectItems" v-model="movement.type" label="Tipo" solo></v-select>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    v-model="movement.amount"
                    type="number"
                    label="Cantidad"
                    :rules="rules2.amount"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row v-if="movement.type == 2">
                <v-col cols="12" md="6">
                  <v-text-field v-model="movement.recipientIban" label="IBAN" :rules="rules1.iban"></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field v-model="movement.concept" label="Concepto" :rules="rules2.concept"></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
      </v-form>
    </v-dialog>

    <v-dialog v-model="showRemove" max-width="600px">
      <v-card>
        <v-card-title class="headline">¿Desea cancelar el movimiento?</v-card-title>
        <v-card-text></v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="showRemove = false">No</v-btn>
          <v-btn text color="error" @click="deleteMovement">Cancelar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-speed-dial
      v-model="fab"
      bottom
      right
      fixed
      open-on-hover
      direction="top"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="primary" dark fab>
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-settings</v-icon>
        </v-btn>
      </template>
      <v-btn fab dark small color="orange" @click="refresh">
        <v-icon>mdi-reload</v-icon>
      </v-btn>
      <v-btn fab dark small color="green" @click="showAddMovement">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-speed-dial>
  </v-content>
</template>

<script>
import { mapState } from "vuex";
import router from "vue-router";
import { AxiosAccounts, AxiosMovements } from "../utils/axiosUtils";
import { AccountRules, MovementRules } from "../utils/rulesUtils";

export default {
  name: "movements",
  data: () => ({
    movements: [],
    account: {},
    movement: {},
    movementIdTmp: null,
    localKey: 0,
    fab: false,
    showAdd: false,
    showRemove: false,
    advanceSearch: false,
    search: "",
    showGraph: false,
    page: 1,
    perPage: 4,
    rules1: null,
    rules2: null,
    headers: [
      { text: "IBAN Receptor", value: "recipientIban" },
      { text: "Concepto", value: "concept" },
      { text: "Fecha", value: "date" },
      { text: "Cantidad", value: "amount" },
      { text: "Cancelado", value: "isCanceled" }
    ],
    selectItems: [
      { text: "Ingreso", value: 1 },
      { text: "Transferencia", value: 2 },
      { text: "Retirada", value: 3 }
    ]
  }),
  computed: {
    visiblePages() {
      return this.movements.slice(
        (this.page - 1) * this.perPage,
        this.page * this.perPage
      );
    },
    getTotalAmount: function() {
      var totalAmount = 0;
      this.movements.forEach(movement => {
        if (!movement.isCanceled) {
          if (movement.recipientIban == this.account.iban) {
            switch (movement.type) {
              case 3:
                totalAmount -= movement.amount;
                break;
              case 1:
              case 2:
                totalAmount += movement.amount;
                break;
            }
          } else if (movement.senderIban == this.account.iban) {
            totalAmount -= movement.amount;
          }
        }
      });
      return this.formatAmount(totalAmount);
    },
    getAmounts: function() {
      var map = new Object();
      this.movements.forEach(mov => {
        if (!mov.isCanceled && mov.senderIban == this.account.iban) {
          var date = new Date(mov.date);
          if (map[date.getDate() + "-" + date.getMonth()] != null) {
            map[date.getDate() + "-" + date.getMonth()] =
              map[date.getDate() + "-" + date.getMonth()] + mov.amount;
          } else {
            map[date.getDate() + "-" + date.getMonth()] = mov.amount;
          }
        }
      });
      var amounts = [];
      Object.keys(map).forEach(function(key) {
        amounts.push(map[key]);
      });
      return amounts;
    },
    getDates: function() {
      var map = new Object();
      this.movements.forEach(mov => {
        if (!mov.isCanceled && mov.senderIban == this.account.iban) {
          var date = new Date(mov.date);
          map[date.getDate() + "-" + date.getMonth()] =
            date.getDate() + "-" + date.getMonth();
        }
      });
      var dates = [];
      Object.keys(map).forEach(function(key) {
        dates.push(map[key]);
      });
      return dates;
    },
    ...mapState(["user", "cookie"])
  },
  methods: {
    movementType(type) {
      switch (type) {
        case 1:
          return "Ingreso";
          break;
        case 2:
          return "Transferencia";
          break;
        case 3:
          return "Retirada";
          break;
      }
    },
    formatIban(iban) {
      var toret = "";
      toret = toret.concat(iban.substring(0, 4)).concat(" ");
      toret = toret.concat(iban.substring(4, 8)).concat(" ");
      toret = toret.concat(iban.substring(8, 12)).concat(" ");
      toret = toret.concat(iban.substring(12, 16)).concat(" ");
      toret = toret.concat(iban.substring(16, 20)).concat(" ");
      toret = toret.concat(iban.substring(20, 24)).concat(" ");
      return toret;
    },
    formatDate(date) {
      var dateAux = "";
      if (date != null) {
        var [year, month, day] = date.split("-");
        dateAux = dateAux.concat(day.split("T")[0], "/", month, "/", year);
      }
      return dateAux;
    },
    formatAmount(amount) {
      var amountAux = "";
      if (amountAux != null) {
        amountAux = (Math.round(amount * 100) / 100).toFixed(2);
      }
      return amountAux;
    },
    showAddMovement() {
      this.showAdd = true;
      this.movement = { type: 2, amount: 0 };
    },
    isCancelable(date) {
      var dateAux = new Date();
      dateAux.setHours(dateAux.getHours() - 24);
      var movementDate = new Date(date);
      return movementDate > dateAux;
    },
    cancel(movement) {
      if (this.isCancelable(movement.date)) {
        this.movement = movement;
        this.showRemove = true;
      } else {
        this.localKey++;
        this.$store.commit(
          "enableError",
          "No puedes cancelar este movimiento porque ya han pasado más de 24 horas"
        );
      }
    },
    async getAccount() {
      AxiosAccounts.get(this);
    },
    getMovements() {
      AxiosMovements.get(this);
    },
    async postMovement() {
      this.movement.amount = parseFloat(this.movement.amount);
      if (this.movement.type != 2) {
        this.movement.recipientIban = this.account.iban;
        if (this.movement.type == 1) {
          this.movement.concept = "Ingreso";
        } else {
          this.movement.concept = "Retirada";
        }
      }
      if (this.$refs.addForm.validate()) {
        AxiosMovements.post(this);
      }
    },
    async deleteMovement() {
      AxiosMovements.delete(this);
    },
    refresh() {
      this.getMovements();
      this.localKey++;
    }
  },
  created() {
    if (this.cookie != null) {
      this.getAccount();
      this.getMovements();
      this.rules1 = AccountRules;
      this.rules2 = MovementRules;
    }
  }
};
</script>
