<template>
  <v-content v-if="user != null">
    <v-container>
      <v-card class="overflow-hidden">
        <v-toolbar flat color="primary" dark>
          <v-icon class="mr-2">mdi-account</v-icon>
          <v-toolbar-title class="font-weight-light">Mis datos</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-tooltip bottom v-if="!isReadOnly">
            <template v-slot:activator="{ on }">
              <v-btn icon v-on="on" @click="cancelEdit">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </template>
            <span>Cancelar los cambios</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-text>
          <v-form ref="updateForm">
            <v-row>
              <v-col cols="12" md="12">
                <h2 class="font-weight-light">Datos personales</h2>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="user.name"
                  label="Nombre"
                  :readonly="isReadOnly"
                  :rules="rules.name"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="user.lastName"
                  label="Apellidos"
                  :readonly="isReadOnly"
                  :rules="rules.lastName"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="6">
                <v-menu
                  v-model="showDate"
                  offset-y
                  transition="scale-transition"
                  max-width="290px"
                  min-width="290px"
                  :close-on-content-click="false"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="formattedDate"
                      persistent-hint
                      label="Fecha de nacimiento"
                      v-on="on"
                      :readonly="isReadOnly"
                      append-icon="mdi-calendar"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="user.birthday"
                    v-if="!isReadOnly"
                    no-title
                    locale="es-ES"
                    :max="maxDate"
                    @input="showDate = false"
                  ></v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="user.phone"
                  label="Teléfono"
                  :readonly="isReadOnly"
                  :rules="rules.phone"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="12">
                <h2 class="font-weight-light">Datos dirección</h2>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="user.address.street"
                  label="Calle"
                  :readonly="isReadOnly"
                  :rules="rules.street"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="user.address.zipcode"
                  label="Código postal"
                  :readonly="isReadOnly"
                  :rules="rules.zipcode"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="6">
                <v-autocomplete
                  label="País"
                  v-model="user.address.country"
                  :items="countries"
                  :readonly="isReadOnly"
                  :rules="rules.country"
                ></v-autocomplete>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  label="Ciudad"
                  v-model="user.address.city"
                  v-if="user.address.country != 'España'"
                  :readonly="isReadOnly"
                  :rules="rules.city"
                ></v-text-field>
                <v-autocomplete
                  label="Ciudad"
                  v-model="user.address.city"
                  v-else
                  :items="spainCities"
                  :readonly="isReadOnly"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>

      <v-fab-transition>
        <v-btn color="primary" fab dark bottom right fixed @click="editUser">
          <v-icon v-if="isReadOnly">mdi-pencil</v-icon>
          <v-icon v-else>mdi-content-save</v-icon>
        </v-btn>
      </v-fab-transition>
    </v-container>
  </v-content>
</template>

<script>
import { mapState } from "vuex";
import { AxiosUserData } from "../utils/axiosUtils";
import { UserDataRules } from "../utils/rulesUtils";
import { COUNTRIES, SPAIN_CITIES } from "../utils/constantUtils";

const UNFORMATTED_DATE = "T00:00:00.000Z";

export default {
  name: "personalData",
  data: () => ({
    userAux: {
      address: {}
    },
    rules: null,
    isReadOnly: true,
    maxDate: null,
    showDate: false,
    countries: null,
    spainCities: null
  }),
  computed: {
    ...mapState(["user"]),
    formattedDate() {
      return this.formatDate(this.user.birthday);
    }
  },
  methods: {
    getMaxDate() {
      var dateAux = new Date();
      dateAux.setMonth(dateAux.getMonth() - 12 * 18);
      return dateAux.toISOString();
    },
    formatDate(date) {
      var dateAux = "";
      if (date != null) {
        var [year, month, day] = date.split("-");
        dateAux = dateAux.concat(day.split("T")[0], "/", month, "/", year);
      }
      return dateAux;
    },
    unFormatDate() {
      if (this.user.birthday.length <= 10) {
        var dateAux = "";
        var [year, month, day] = this.user.birthday.split("-");
        dateAux = dateAux.concat(year, "-", month, "-", day, UNFORMATTED_DATE);
        this.user.birthday = dateAux;
      }
    },
    editUser() {
      if (this.isReadOnly) {
        this.userAux = JSON.parse(JSON.stringify(this.user));
        this.isReadOnly = false;
      } else {
        this.putUser();
      }
    },
    cancelEdit() {
      this.$store.commit("setUser", JSON.parse(JSON.stringify(this.userAux)));
      this.isReadOnly = true;
    },
    putUser() {
      if (this.$refs.updateForm.validate()) {
        this.unFormatDate();
        AxiosUserData.put(this);
      }
    }
  },
  created() {
    this.maxDate = this.getMaxDate();
    this.rules = UserDataRules;
    this.countries = COUNTRIES;
    this.spainCities = SPAIN_CITIES;
  }
};
</script>
