<template>
  <v-content v-if="user != null">
    <v-container>
      <v-card class="overflow-hidden">
        <v-toolbar flat color="primary" dark>
          <v-icon class="mr-2">mdi-settings</v-icon>
          <v-toolbar-title class="font-weight-light">Ajustes</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form ref="updateForm">
            <v-row>
              <v-col>
                <v-switch
                  v-model="user.userConfig.isGeneralNotifyEnable"
                  label="Notificaciones generales"
                  @change="putUserConfig"
                ></v-switch>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-switch
                  v-model="user.userConfig.isMovementsNotifyEnable"
                  label="Notificaciones de transferencias"
                  @change="putUserConfig"
                ></v-switch>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-subheader>Umbral notificación transferencia</v-subheader>
                <v-slider
                  v-model="user.userConfig.minMovAmntNotify"
                  min="0"
                  max="500"
                  thumb-label="always"
                  inverse-label
                  @end="putUserConfig"
                ></v-slider>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
    </v-container>
  </v-content>
</template>

<script>
import { mapState } from "vuex";
import { AxiosUserConfigs } from "../utils/axiosUtils";

export default {
  name: "userConfigs",
  data: () => ({
    updateUserConfig: {}
  }),
  computed: {
    ...mapState(["user"])
  },
  methods: {
    putUserConfig() {
      AxiosUserConfigs.put(this);
    }
  }
};
</script>
