<template>
  <v-container>
    <v-app-bar app dark color="primary">
      <v-app-bar-nav-icon @click="isMenuOpened=true" v-if="user!=null"></v-app-bar-nav-icon>
      <v-toolbar-title>
        <v-img src="../assets/logo.png" aspect-ratio="1" width="40" height="40"></v-img>
      </v-toolbar-title>
      <v-toolbar-title>
        <v-col class="font-weight-light">BankTech</v-col>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <div v-if="!isChargin && user==null">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn @click="showLoginDialog" v-on="on" icon>
              <v-icon class="mr-2">mdi-login</v-icon>
            </v-btn>
          </template>
          <span>Iniciar sesión</span>
        </v-tooltip>

        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn @click="showRegistryDialog" v-on="on" class="mr-1" icon>
              <v-icon>mdi-account-plus</v-icon>
            </v-btn>
          </template>
          <span>Registrarse</span>
        </v-tooltip>
      </div>

      <v-tooltip bottom v-if="!isChargin && user!=null">
        <template v-slot:activator="{ on }">
          <v-btn @click="showLogout = true" v-on="on" class="mr-1" icon>
            <v-icon>mdi-logout</v-icon>
          </v-btn>
        </template>
        <span>Cerrar sesión</span>
      </v-tooltip>
    </v-app-bar>

    <v-navigation-drawer v-model="isMenuOpened" width="300px" app temporary>
      <v-list class="background-color: accent">
        <div class="text-center ma-5">
          <v-avatar color="primary" size="75">
            <span
              class="white--text headline"
              v-if="user!=null"
            >{{user.name[0].toUpperCase() + user.lastName[0].toUpperCase()}}</span>
          </v-avatar>
        </div>
        <div v-if="user!=null" class="text-center mb-3 white--text">{{user.name}} {{user.lastName}}</div>
      </v-list>

      <v-divider></v-divider>

      <v-list v-if="cookie != null" :key="generalKey">
        <v-list-item :to="{name: 'home'}">
          <v-list-item-icon>
            <v-icon>mdi-home</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Inicio</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-group no-action>
          <template v-slot:activator>
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Mi cuenta</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item :to="{name: 'personalData'}">
            <v-list-item-icon>
              <v-icon>mdi-account-check</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Datos personales</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item :to="{name: 'accessData'}">
            <v-list-item-icon>
              <v-icon>mdi-account-key</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Datos de acceso</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>

        <v-list-item :to="{name: 'accounts'}">
          <v-list-item-icon>
            <v-icon>mdi-bank</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Cuentas bancarias</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item :to="{name: 'userConfigs'}">
          <v-list-item-icon>
            <v-icon>mdi-settings</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Ajustes</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-group no-action v-if="cookie.isAdmin">
          <template v-slot:activator>
            <v-list-item-icon>
              <v-icon>mdi-key-variant</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Administración</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item :to="{name: 'envConfigs'}">
            <v-list-item-icon>
              <v-icon>mdi-shape-plus</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Configuraciones de entorno</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item :to="{name: 'logs'}">
            <v-list-item-icon>
              <v-icon>mdi-file-document-box</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Logs</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>

    <v-dialog v-model="showRegistry" max-width="800px">
      <v-stepper v-model="registryStep">
        <v-stepper-header>
          <v-stepper-step :complete="registryStep > 1" step="1">Datos personales</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step :complete="registryStep > 2" step="2">Datos de dirección</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step :complete="registryStep > 3" step="3">Datos de acceso</v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1">
            <v-form ref="registryForm1">
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field v-model="userRegistry.name" label="Nombre" :rules="rules1.name"></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    v-model="userRegistry.lastName"
                    label="Apellidos"
                    :rules="rules1.lastName"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="6">
                  <v-menu
                    v-model="showDate"
                    offset-y
                    transition="scale-transition"
                    max-width="290px"
                    min-width="290px"
                    :close-on-content-click="false"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="formattedDate"
                        persistent-hint
                        label="Fecha de nacimiento"
                        v-on="on"
                        append-icon="mdi-calendar"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="userRegistry.birthday"
                      no-title
                      locale="es-ES"
                      :max="maxDate"
                      @input="showDate = false"
                    ></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field v-model="userRegistry.phone" label="Teléfono" :rules="rules1.phone"></v-text-field>
                </v-col>
              </v-row>
            </v-form>
            <v-btn class="mr-2" color="primary" @click="validateRegistry1">Conitnuar</v-btn>
            <v-btn text @click="showRegistry = false">Cancelar</v-btn>
          </v-stepper-content>

          <v-stepper-content step="2">
            <v-form ref="registryForm2">
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                    v-model="userRegistry.address.street"
                    label="Calle"
                    :rules="rules1.street"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    v-model="userRegistry.address.zipcode"
                    label="Código postal"
                    :rules="rules1.zipcode"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="6">
                  <v-autocomplete
                    label="País"
                    v-model="userRegistry.address.country"
                    :items="countries"
                    :rules="rules1.country"
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    label="Ciudad"
                    v-model="userRegistry.address.city"
                    v-if="userRegistry.address.country != 'España'"
                    :rules="rules1.city"
                  ></v-text-field>
                  <v-autocomplete
                    label="Ciudad"
                    v-model="userRegistry.address.city"
                    v-else
                    :items="spainCities"
                  ></v-autocomplete>
                </v-col>
              </v-row>
            </v-form>
            <v-btn class="mr-2" color="primary" @click="validateRegistry2">Conitnuar</v-btn>
            <v-btn text @click="registryStep--">Atrás</v-btn>
          </v-stepper-content>

          <v-stepper-content step="3">
            <v-form ref="registryForm3">
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field v-model="userRegistry.dni" label="DNI" :rules="rules2.dni"></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field v-model="userRegistry.email" label="Email" :rules="rules2.email"></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                    v-model="password"
                    counter="16"
                    label="Contraseña"
                    :rules="rules2.password"
                    :type="showPassword1 ? 'text' : 'password'"
                    :append-icon="showPassword1 ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPassword1 = !showPassword1"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    v-model="userRegistry.password"
                    counter="16"
                    label="Repetir contraseña"
                    :rules="rules2.password"
                    :type="showPassword2 ? 'text' : 'password'"
                    :append-icon="showPassword2 ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPassword2 = !showPassword2"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-form>
            <v-btn class="mr-2" color="primary" @click="validateRegistry3">Registrar</v-btn>
            <v-btn text @click="registryStep--">Atrás</v-btn>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-dialog>

    <v-dialog v-model="showLogin" max-width="600px">
      <v-card>
        <v-card-title>
          <v-toolbar flat dark color="primary">
            <v-btn icon dark @click="showLogin = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>{{!showResetPassword ? "Login" : "Cambiar contraseña"}}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn icon fab v-on="on" @click="multiPost">
                  <v-icon>mdi-content-save</v-icon>
                </v-btn>
              </template>
              <span>{{!showResetPassword ? "Iniciar sesión" : "Cambiar contraseña"}}</span>
            </v-tooltip>
          </v-toolbar>
        </v-card-title>
        <v-card-text>
          <v-container v-if="!showResetPassword">
            <v-form ref="loginForm" v-on:submit.prevent @keydown.native.enter="postLogin">
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="login.email"
                    label="Email"
                    type="text"
                    :rules="rules2.email"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="login.password"
                    label="Contraseña"
                    :type="showPassword3 ? 'text' : 'password'"
                    :append-icon="showPassword3 ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPassword3 = !showPassword3"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-btn
                    icon
                    block
                    @click="showResetPassword = true"
                  >¿Te has olvidado de la contraseña?</v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
          <v-container v-else>
            <v-form ref="resetPasswordForm" v-on:submit.prevent @keydown.native.enter="postResetPassword">
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="login.email"
                    label="Email"
                    type="text"
                    :rules="rules2.email"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog v-model="showLogout" max-width="600px">
      <v-card>
        <v-card-title class="headline">¿Desea cerrar la sesión?</v-card-title>
        <v-card-text></v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="showLogout = false">No</v-btn>
          <v-btn text color="primary" @click="postLogout">Sí</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import router from "vue-router";
import { AxiosUser } from "../utils/axiosUtils";
import { UserDataRules, UserAccessDataRules } from "../utils/rulesUtils";
import { COUNTRIES, SPAIN_CITIES } from "../utils/constantUtils";

const UNFORMATTED_DATE = "T00:00:00.000Z";

export default {
  name: "AppBar",
  data: () => ({
    login: {},
    userRegistry: {
      address: {},
      userConfig: {
        isGeneralNotifyEnable: true,
        isMovementsNotifyEnable: true,
        minMovAmntNotify: 0
      }
    },
    isMenuOpened: false,
    showLogin: false,
    showLogout: false,
    showResetPassword: false,
    showRegistry: false,
    registryStep: 1,
    showDate: false,
    showPassword1: false,
    showPassword2: false,
    showPassword3: false,
    password: null,
    countries: null,
    spainCities: null,
    rules1: null,
    rules2: null
  }),

  methods: {
    getMaxDate() {
      var dateAux = new Date();
      dateAux.setMonth(dateAux.getMonth() - 12 * 18);
      return dateAux.toISOString();
    },
    formatDate(date) {
      var dateAux = "";
      if (date != null) {
        var [year, month, day] = date.split("-");
        dateAux = dateAux.concat(day.split("T")[0], "/", month, "/", year);
      }
      return dateAux;
    },
    unFormatDate() {
      if (this.userRegistry.birthday.length <= 10) {
        var dateAux = "";
        var [year, month, day] = this.userRegistry.birthday.split("-");
        dateAux = dateAux.concat(year, "-", month, "-", day, UNFORMATTED_DATE);
        this.userRegistry.birthday = dateAux;
      }
    },
    showLoginDialog() {
      this.showLogin = true;
      this.showResetPassword = false;
    },
    showRegistryDialog() {
      this.showRegistry = true;
      this.registryStep = 0;
    },
    validateRegistry1() {
      if (this.$refs.registryForm1.validate()) {
        this.registryStep++;
      }
    },
    validateRegistry2() {
      if (this.$refs.registryForm2.validate()) {
        this.registryStep++;
      }
    },
    validateRegistry3() {
      if (this.password != this.userRegistry.password) {
        this.$store.commit("enableError", "Las contraseñas no coinciden");
      } else {
        if (this.$refs.registryForm3.validate()) {
          this.postUserRegistry();
        }
      }
    },
    multiPost() {
      if (!this.showResetPassword) {
        this.postLogin();
      } else {
        this.postResetPassword();
      }
    },
    postLogin() {
      if (this.$refs.loginForm.validate()) {
        AxiosUser.postLoing(this);
      }
    },
    postLogout() {
      AxiosUser.postLogout(this);
    },
    postResetPassword() {
      if (this.$refs.resetPasswordForm.validate()) {
        AxiosUser.postResetPassword(this);
      }
    },
    postUserRegistry() {
      this.unFormatDate();
      AxiosUser.post(this);
    },
    ...mapMutations(["updateGeneralKey"])
  },
  computed: {
    ...mapState(["user", "cookie", "generalKey", "isChargin"]),
    formattedDate() {
      return this.formatDate(this.userRegistry.birthday);
    }
  },
  created() {
    this.$store.commit("getCookie", "user_token");
    this.$store.dispatch("getUser");
    this.maxDate = this.getMaxDate();
    this.rules1 = UserDataRules;
    this.rules2 = UserAccessDataRules;
    this.countries = COUNTRIES;
    this.spainCities = SPAIN_CITIES;
  }
};
</script>