<template>
  <v-footer dark padless>
    <v-card flat tile color="accent" class="white--text text-center" width="100%">
      <v-card-text>
        <v-btn class="mx-4 white--text" icon @click="openLink('https://es-es.facebook.com/')">
          <v-icon size="20px">mdi-facebook</v-icon>
        </v-btn>
        <v-btn class="mx-4 white--text" icon @click="openLink('https://twitter.com/?lang=es')">
          <v-icon size="20px">mdi-twitter</v-icon>
        </v-btn>
        <v-btn class="mx-4 white--text" icon @click="openLink('https://es.linkedin.com/')">
          <v-icon size="20px">mdi-linkedin</v-icon>
        </v-btn>
        <v-btn class="mx-4 white--text" icon @click="openLink('https://www.instagram.com/?hl=es')">
          <v-icon size="20px">mdi-instagram</v-icon>
        </v-btn>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="white--text">
        © {{ new Date().getFullYear() }} -
        <strong>
          <router-link class="white--text" :to="{name: 'about'}">BankTech - Noel Seara</router-link>
        </strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<style>
a {
  text-decoration: none;
}
</style>

<script>
import router from "vue-router";

export default {
  name: "Footer",
  data: () => ({}),
  methods: {
    openLink(link) {
      window.open(link, "_blank");
    }
  }
};
</script>