<template>
  <v-app :key="generalKey">
    <AppBar />

    <v-overlay :value="isLoading" z-index="300">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>

    <v-snackbar
      v-model="alert.isEnabled"
      right
      top
      :timeout="5000"
      :color="alert.color"
      z-index="400"
      class="ma-5"
    >
      <v-icon class="mr-3" color="white">{{alert.icon}}</v-icon>
      {{alert.msg}}
    </v-snackbar>

    <router-view />
  </v-app>
</template>

<script>
import AppBar from "@/components/AppBar.vue";
import { mapState, mapMutations } from "vuex";

export default {
  name: "App",
  components: {
    AppBar
  },
  computed: {
    ...mapState(["isLoading", "alert", "generalKey"])
  },
  methods: {
    ...mapMutations(["disableAlert"])
  }
};
</script>
